<!-- .row*2>.col -->
<div class="row">
    <div class="col">
        <app-search-form  
            [query]="query"
            (search)="searchAlbums($event)"></app-search-form>
    </div>
</div>

<div class="row">
    <div class="col">
        <p class="alert alert-danger" *ngIf="message">{{message}}</p>

        <app-album-grid  [albums]="results"></app-album-grid>
    </div>
</div>