<!-- // "active" -->
<!-- DO NOT MANIPULATE DOM MANUALLY: -->
<!-- (click)="$any($event.target).className = ' list-group-item active' " -->

<div class="list-group">
    <div class="list-group-item"
    
    [class.active]="playlist.id === selectedId" 
    (click)="select(playlist.id)"
    
    *ngFor="let playlist of playlists; index as i">
        {{i+1}}. {{playlist.name}}
    </div>
</div>