<div class="card">
    <img [src]="album.images[0].url" class="card-img-top">
    
    <div class="card-body">
        <h5 class="card-title">
            {{album.name}}
        </h5>
    </div>
</div>