<form>
    <div class="input-group mb-3">
        
        <input type="text" name="query" 
        [(ngModel)]="query"
        class="form-control" placeholder="Search">

        <div class="input-group-append">
            <button class="btn btn-outline-secondary" 
            (click)="submit()">Search</button>
        </div>
    </div>
</form>